.update{
	z-index: 99999;
	position: relative; top: 0px; left: 0px;
	width: 100%; padding: 20px 0px;  background-color: #fdfdc0;
	display: none;
}	
.update_box{
	position: relative; max-width: 1330px; margin: 0px auto;
}
.update_l{ float: left; padding: 0px 20px;  }
	.update_txt01{
		color: #ff9600; font-size: 16px; line-height: 32px;
	}
.update_r{ float: right; width: 265px;  padding: 0px 20px;  }
	.update_btn{
		position: relative; display: inline-block;
		width: 125px; height: 32px; background: #000;
		cursor: pointer; color: #fff; line-height: 32px; text-align: center; text-decoration: none;
	}
	.update_btn:hover{ text-decoration: none;  }
	.update_btn_1{
		background: #509ee1;
	}
	.update_btn_2{
		background: #ffba00;
	}
	.update_btn_1:hover{
		background: #72ade0;
	}
	.update_btn_2:hover{
		background: #ffc526;
	}
.update_line{ clear: both;  }
